#serviceAccountKey.json
serviceAccountKey.json
# Ignore environment variable files
.env
.env.*
# Ignore Python cache files
__pycache__/
*.pyc
# Ignore virtual environment directories
venv/
env/
# Ignore Docker files
*.log
docker-compose.override.yml
# Ignore IDE specific files
.vscode/
.idea/
# Ignore system files
.DS_Store   