# Ignore Python virtual environment folders
venv/
ENV/
env/
.venv/
.python-version

# Ignore environment variable files
.env
.env.*

# Python bytecode files
__pycache__/
*.py[cod]
*$py.class
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Logs
*.log

# VSCode and other IDE configs
.vscode/
.idea/