# Ignore Python virtual environment folders
venv/
ENV/
env/

# Ignore environment variable files
.env
.env.*

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Logs
*.log

# VSCode and other IDE configs
.vscode/
.idea/
